<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/blog/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{title}}  By: {{user}}</header>
    <!-- The card contains the first painting of the gallery -->
    <p>{{body}}</p>
  </a>
</section>