<h2 id="form-title">Login</h2>

<form id="form" class="form login-form" data-form-type="login">
  <div class="form-group">
    <label for="login-value">Username:</label>
    <input class="form-input" type="text" id="login-value" />
  </div>
  <div class="form-group">
    <label for="password-value">Password:</label>
    <input class="form-input" type="password" id="password-value" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="form-submit">Login</button>
  </div>
</form>

<a href="#" id="switch-to-signup">Signup instead</a>
<a href="#" id="switch-to-login" style="display: none;">Login instead</a>

<script src="js/loginForm.js"></script>